[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json
[submodule "ext/zlib"]
	path = ext/zlib
	url = https://github.com/madler/zlib
[submodule "ext/nanogui"]
	path = ext/nanogui
	url = https://github.com/wjakob/nanogui
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://github.com/libigl/eigen
[submodule "ext/openexr"]
	path = ext/openexr
	url = https://github.com/openexr/openexr
